# build files
.deps
.libs
*.o
*.lo
*.la
/lib/*.h
/lib/*.c
/lib/sys
config.h*
stamp-h*

# GNU Build System
/autom4te.cache
/aclocal.m4
/build-aux
/config.guess
/config.log
/config.status
/configure
/libtool
/m4
/ar-lib
/compile
/config.sub
/depcomp
/install-sh
/ltmain.sh
/missing
/ylwrap
Makefile
Makefile.in

