#build
.deps
/.libs
/modules
*.la
*.lo
/config.h

#phpize
/Makefile*
/acinclude.m4
/aclocal.m4
/autom4te.cache
/build
/config.guess
/config.log
/config.nice
/config.status
/config.sub
/config.h.in
/configure
/configure.in
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
run-tests.php
